# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/


# =====================
# Airflow
# =====================
logs/


# =====================
# Scala / SBT
# =====================
target/
project/target/
project/project/

.bloop/
.bsp/
.metals/
.scala-build/


# =====================
# Spark
# =====================
spark-warehouse/
data/
_SUCCESS
*.crc
part-*


# =====================
# Generated artifacts
# =====================
jars/
*.jar


# =====================
# IDE
# =====================
.idea/
.vscode/


# =====================
# Environment / secrets
# =====================
.env
.env.*


# =====================
# Local files
# =====================
phishing_current.csv